@import url('https://fonts.cdnfonts.com/css/super-mario-256');



.banner {
    background-image: url('../../assets/banner.webp');
    background-size: cover;
    background-position: center;
}


.titulo {
    text-align: center;
    color: white;
    font-family: 'Super Mario 256', sans-serif;   
    margin-top: 40px;

}
  
.comment-section {
    color: #e0eaeefb;
    font-family: 'Super Mario 256', sans-serif;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
  
.comment {
    width: 60%;
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
  
  
.comment p {
    margin-top: 20px;
    

}

h2 {
    color: white;
    font-family: 'Super Mario 256', sans-serif;   
    background-color: transparent;
    display: flex;
    justify-content: center;

}

 

@media(max-width:550px) {
 
    .banner{
        margin-top: 70px;
    }

    .titulo {
        display: flex;
        margin-left: 10px;
    }
   

       
   
}